html {
  font-size: 10px;
}
body {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
span,
kbd,
input {
  text-align: center;
  padding: 1rem 2rem;
}
span {
  font-size: 36rem;
}
kbd {
  width: fit-content;
  font-size: 2.2rem;
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0 0 1rem grey;
  background: rgb(240, 239, 239);
}
input {
  width: max-content;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2.2rem;
  margin-top: 3rem;
  border: 0.1rem solid rgb(158, 158, 158);
  border-radius: 1rem;
  margin-bottom: 2rem;
}
p {
  text-align: center;
}
